<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
User<br /><br />
<form th:method="PUT" th:action="@{/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <input type="hidden" th:field="*{id}" id="id">
    <div>
    <label for="name" >Name</label>
    <input type="text" th:field="*{name}" id="name">
    </div>
    <br/>
    <div>
    <label for="surname" >Surname</label>
    <input type="text" th:field="*{surname}" id="surname">
    </div>
    <br/>
    <div>
        <label for="userName" >Username</label>
    <input type="text" th:field="*{username}" id="userName">
    </div>
    <br/>
    <div>
    <label for="password" >Password</label>
    <input type="text" th:field="*{password}" id="password">
    </div>
    <br/>
    <div>
        <label for="password" >email</label>
        <input type="text" th:field="*{email}" id="email">
    </div>
    <div>
        <label >Role</label>
        <div>
            <th:block th:each="role: ${allRoles}">
                <input type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}" />
            </th:block>
        </div>
    </div>
    <br /><br />
    <input type="submit" value="Save"/>
</form>

</body>
</html>